* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
   background-color: #1f2937;
}

.container {
    margin: 0 auto;
    padding: 0 8em;
}

.header {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.navbar {
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container .nav {
    display: flex;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    list-style-type: none;
}

ul li a, .hero_subtext {
    font-size: 18px;
    color: #e5e7eb
}

ul li a {
    text-decoration: none;
}

.container .nav li a:hover {
    color: lightblue;
}

.container .nav li {
    margin-left: 20px;
}

.hero {
    min-height: 400px;
    display: flex;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 1.2;
}

.btn, .sign-up_box {
    background-color: #3882f6;
}

.btn {
    color: #f9faf8;
}

.hero-img {
    max-width: 400px;
}

.boxes .container {
    /* display: flex; */
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.img-box_container {
    display: flex;
    justify-content: space-between;
}

.img-box_container .img-box {
    flex: 1;
    margin: 20px 10px;
    padding: 15px 20px;
}

.img-box_container .img-box img {
    border-radius: 10px;
}

.quote_section {
    background-color: #e5e7eb;
}

.quote_text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote figcaption {
    
}

.footer {
    color: #f9faf8;
}