@import url('https://api.fonts.coollabs.io/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
}

.header, .footer {
   background-color: #1f2937;
}

.container {
    margin: 0 auto;
    padding: 0 8em;
}


.navbar {
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container .nav {
    display: flex;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    list-style-type: none;
}

ul li a, .hero_subtext {
    font-size: 18px;
    color: #e5e7eb
}

ul li a {
    text-decoration: none;
}

.container .nav li a:hover {
    color: lightblue;
}

.container .nav li {
    margin-left: 20px;
}

.hero {
    min-height: 400px;
    display: flex;
}

.boxes, .quote_section, .call_to_action {
    min-height: 400px;
    display: flex;
    align-items: center;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.hero_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 26em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    line-height: 1.2;
}

.hero_subtext {
    margin-bottom: 1rem;
}

.btn, .sign-up_box {
    background-color: #3882f6;
}

.btn {
    color: #f9faf8;
    width: 119px;
    height: 37px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

.hero-img {
    max-width: 600px;
    max-height: 250px;
}

.information_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.img-box_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.img-box_container .img-box {
    flex-basis: 1rem;

}

.img-box_container .img-box img {
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.img-box_container .img-box p {
    text-align: center;
    font-weight: 300;
    font-family: roboto;
}

.quote_section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    width: 62rem;
}

.quote figcaption, figcaption cite {
    font-style: normal;
}

.quote figcaption {
    align-self: flex-end;
    font-weight: 700;
    font-size: 27px;
}

.sign-up_box {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    width: 73rem;
    height: 10rem;
    align-items: center;
}

.sign-up_box_text h5 {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}


.sign-up_box_text p {
    color: #e5e7eb;
    font-size: 18px;
}

.btn-sign_up {
    border: 2px solid;
    height: 4rem;
    width: 11rem;
}

.footer {
    color: #f9faf8;
    font-size: 1.1em;
    min-height: 100px;
    display: flex;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}